@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  
}
:root{
  --color-accent: #ff6200;
  --color-success: #00A800;
  --dark-2: #232f3e;
  --default-font-family: "Red Hat Display", sans-serif;
}

@theme {
  --font-BG: "Bricolage Grotesque", sans-serif;
}

.navLink.active {
  color: var(--color-accent);
}

body{
  background-color: var(--color-base-300);
}